@import "~normalize.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

p {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
